@font-face {
  font-family: 'Harabara';
  src: url('../fonts/Harabara.eot');
  src: url('../fonts/Harabara.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Harabara.woff') format('woff'),
     url('../fonts/Harabara.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
body {
  padding-top: 110px;
  background-color: #202930;
}

a {
  color: #fdab37;
}

a, a:focus, button, button:focus {
    outline: 0
}

.top_banner {
  min-height: 318px;
  position: relative;
  background-image: url(../img/top_bg_2.png);
  padding: 100px 0 85px 0;
  font-family: Harabara, Arial, sans-serif;
  color: #fff;
  font-size: 22px;
}

.top_overlay {
  background-image: url(../img/top_bg_glow.png);
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

/* HEADER */
header {
  height: 114px;
  background-image: url(../img/top_mnu.png);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  margin-top: 23px;
  display: block;
}
.mnu_top {
  float: right;
}

.mnu_top a {
  font-family: Harabara, Arial, sans-serif;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
  text-shadow: rgba(0, 0, 0, .6) 1px 2px;
}

.mnu_top li {
  float: left;
  position: relative;
}

.mnu_top li a {
  background-image: url(../img/separate.png);
  background-repeat: repeat-y;
  display: block;
  padding: 72px 26px 17px 26px;
}

.mnu_top li:last-child {
  background-image: url(../img/separate.png);
  background-repeat: repeat-y;
  background-position: top right;
}

.mnu_top li.active a,
.mnu_top li:hover a {
  color: #fdab37;
}

.mnu_top .top_hover {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  width: 0;
  left: 50%;
  -webkit-transition: all.25s ease;
  -moz-transition: all.25s ease;
  -ms-transition: all.25s ease;
  -o-transition: all.25s ease;
  transition: all.25s ease;

}

.mnu_top li.active .top_hover,
.mnu_top li:hover .top_hover {
  background-color: #fdb146;
  width: 100%;
  left: 0;
}

.top_banner h2 {
  color: #f99e0f;
  font-size: 48px;
  text-shadow: rgba(0, 0, 0, .6) 1px 4px;
}
.top_banner ul {
  margin-top: 30px;
}

.top_banner li {
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  border: transparent 2px solid;
  padding: 3px  3px 3px 35px;
  background-position: 8px 7px;
  cursor: default;
  -webkit-transition: all.5s ease;
  -moz-transition: all.5s ease;
  -ms-transition: all.5s ease;
  -o-transition: all.5s ease;
  transition: all.5s ease;

}

.top_banner li:hover {
  border: rgba(255, 255, 255, .3) 2px solid;
}

.header_photo {
  position: absolute;
  bottom:40px;
  right: 50%;
  margin-right: -450px;
}

.toggle_button_container {
  position: relative;
  height: 34px;
  background: url(../img/line-shadow.png) repeat-x;
	z-index: 100;
}

.slider_left_bg {
  position: absolute;
  width: 100%;
  left: 162px;
  top: -15px;
  background: url(../img/slider_bg.png) repeat-y;
  height: 72px;
  z-index:200;
}

.slider_right_bg {
  position: absolute;
  width: 100%;
  top: -15px;
  left: 701px;
  background: url(../img/slider_bg.png) repeat-y;
  height: 72px;
  z-index:200;
}

  .toggle_button {
  position: absolute;
	top: -20px;
  background-color: #ec9a14;
  background-image: url(../img/slider_g.png) 60px 0;
  background-repeat: no-repeat;
  background-size: 100%; 
  width: 540px;
  height: 80px;
  border-top: 1px solid #ffd781;
  border-bottom: 1px solid #e89410;
  border-radius: 7px;
}

.toggle_button>span {
  position: absolute;
  width: 60px;
  height: 83px;
  background-image: url(../img/slider_elements.png);
  background-repeat: no-repeat;
}

.toggle_button>span:hover {
	cursor: pointer;
}

span.arrow_prev {
	left: -60px;
	background-position: left top;
}

span.arrow_next {
	right: -60px;
	top: 0;
	background-position: right top;
}

.toggle_button h3 {
  float: left;
  font-family: Harabara, Arial, sans-serif;
  font-size: 50px;
  color: #fff;
  padding: 10px 0 0 15px;
}

.toggle_button h3 span {
	font-size: 18px;
  color: #fff;
	padding-right: 5px;
}

.toggle_button h4 {
  position: relative;
  font-family: Harabara, Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, .5) 1px 1px;
  top: 15px;
  left: 10px;
}

.toggle_button p {
  position:relative;
   color: #fff;
	padding: 2px 0 0 5px;
  top: 20px;
  left: 10px;
}
.toggle_button div {
	overflow: hidden;
	display: block;
	height: 80px;
  top: 20px;
  left: 10px;
}
